p {
text-align:center;
}
h1 {
font-family:Space Age;
font-size:3em;
text-align:center;
color:#FFFFFF;
}
#title {
font-size:7em;
}
.image { 
position:relative;
margin-left:26.5vw;
}
.imagetext { 
position:absolute;
top:2vh;
left:215px;
}