@font-face {
font-family:"Space Age";
src:url(font\Space Age.ttf);
}
p {
text-align:center;
}
h1 {
font-family:"Space Age", Courier New, Sans-serif;
font-size:3em;
text-align:center;
color:#FFFFFF;
}
#title {
font-size:5em;

}
.image { 
position:relative;
margin-left:26.5vw;
}
.imagetext { 
position:absolute;
top:2vh;
left:215px;
}
#imagetext {
position:absolute;
top:3vh;
left:150px;
}
h4 {
font-family:"Space Age", Courier New, Sans-serif;
}
