@font-face {
font-family:Spaceage;
src:url(../font/SpaceAge.ttf) format("opentype");
}
@font-face {
font-family:Futura;
src:url(../font/Futura.ttf) format("opentype");
}
#rightbar{

float:right;
}
#text{
float:left;


}
.newboxes {
	height:1024px;
	width:603px;
    display: none;
    background-image:url(images/box.png);
}
p {
	font-family:Futura;
	color:#AAAAAA;
	padding:20px;	
}