@font-face {
font-family:Spaceage;
src:url(../font/SpaceAge.ttf) format("opentype");
}
@font-face {
font-family:Futura;
src:url(../font/Futura.ttf) format("opentype");
}
#rightbar{
float:right;
margin-right:300px;
margin-top:30px;
}
#rightbar1 {
position:fixed;
}
#text{
float:left;
}
.selectorButton {
background-image: url(images/Button.png);
background-repeat:no-repeat;
height:100px;
width:280px ;
}
.navbar {
float:left;
font-size:3em;
font-family:Futura;
text-decoration:none;
margin-left:25px;
margin-top:18px;
}
.newboxes {
	height:1024px;
	width:603px;
    background-image:url(images/box.png);
}
p {
	font-family:Futura;
	font-size:1.5em;
	color:#000099;
	padding:20px;	
}
#story1 {

margin-left:20px;
}
#controls1 {
margin-top:60px;
margin-left:20px;
}
#explanation1 {
margin-top:60px;
margin-left:20px;
}
#back1 {
margin-top:60px;
margin-left:20px;
}
a {
color:#EBF5FF;
}
#controls {
display:none;
}
#explain {
display:none;
}
#story2 {
margin-left:85px;
}
#controls2 {
margin-left:60px;
}
#back2 {
margin-left:90px;
}